<div th:fragment="stylesheets" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/static/plugins/datatables/dataTables.bootstrap.css}" />
</div>
<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" class="content-wrapper">
    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-widget">
                            <div class="box-header" style="background-color: #2c3e50; height: 50px; color: white; ">
                                <h5><b th:text="${JUDUL}"></b></h5>
                            </div>
                            <div class="box-body">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <td>Nama Proyek</td>
                                        <td>Status</td>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr th:each="isi : ${data}">
                                        <td th:text="${isi.NAMA_PROJECT}"></td>
                                        <td th:text="${isi.NAMA_STATUS}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

</div>
<div th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">

    <script type="text/javascript" th:src="@{/static/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": false,
//                "info": true,
                "autoWidth": true
            });
        });
    </script>
</div>
