<div th:fragment="stylesheets" xmlns:th="http://www.w3.org/1999/xhtml">
</div>
<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml" class="content-wrapper">
    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-widget">
                            <div class="box-header" style="background-color: #2c3e50; height: 50px; color: white; ">
                                <h5><b th:text="${JUDUL}"></b></h5>
                            </div>
                            <div class="box-body">

                                <!--<table class="table table-striped">-->
                                    <!--<tr>-->
                                        <!--<td>Nama</td>-->
                                        <!--<td><div th:text="${nama}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Alamat</td>-->
                                        <!--<td><div th:text="${alamat}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Instansi</td>-->
                                        <!--<td><div th:text="${instansi}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Telepone</td>-->
                                        <!--<td><div th:text="${tlp}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Jenis Instansi</td>-->
                                        <!--<td><div th:text="${jenis_instansi}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Email</td>-->
                                        <!--<td><div th:text="${email}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Jabatan</td>-->
                                        <!--<td><div th:text="${jabatan}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Unit Tipe</td>-->
                                        <!--<td><div th:text="${unit_tipe}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Unit Id</td>-->
                                        <!--<td><div th:text="${unit_id}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Judul</td>-->
                                        <!--<td><div th:text="${judul}"></div></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>Deskripsi</td>-->
                                        <!--<td><div th:text="${deskripsi}"></div></td>-->
                                    <!--</tr>-->
                                <!--</table>-->

                                <p class="text-center"> Permohonan anda telah berhasil teregistri. Silahkan melakukan pengiriman berkas dengan menyertakan :</p>
                                <center>
                                    <table class="table" th:each="isi : ${pesan}">
                                        <tr>
                                            <td>Nomor Registrasi</td>
                                            <td th:text="${isi.id_registrasi}"></td>
                                        </tr>
                                        <tr>
                                            <td>Alamat Tujuan</td>
                                            <td th:text="${isi.alamat_unit}"></td>
                                        </tr>
                                    </table>
                                </center>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

</div>
<div th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">
</div>
